<aside class="bg-white p-20 p-relative">
  <h3 class="p-relative txt-c mt-0">Mada</h3>
  <ul>
    <li>
      <a
        href="index.html"
        class="active d-flex align-center fs-14 c-black red-6 p-10 mb-5"
      >
        <i class="fa-solid fa-chart-line fa-fw mr-10"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a
        href="settings.html"
        class="d-flex align-center fs-14 c-black red-6 p-10 mb-5"
      >
        <i class="fa-solid fa-chart-line fa-fw mr-10"></i>
        <span>Settings</span>
      </a>
    </li>
    <li>
      <a
        href="profile.html"
        class="d-flex align-center fs-14 c-black red-6 p-10 mb-5"
      >
        <i class="fa-solid fa-chart-line fa-fw mr-10"></i>
        <span>Profile</span>
      </a>
    </li>
    <li>
      <a
        href="projects.html"
        class="d-flex align-center fs-14 c-black red-6 p-10 mb-5"
      >
        <i class="fa-solid fa-chart-line fa-fw mr-10"></i>
        <span>Projects</span>
      </a>
    </li>
    <li>
      <a
        href="courses.html"
        class="d-flex align-center fs-14 c-black red-6 p-10 mb-5"
      >
        <i class="fa-solid fa-chart-line fa-fw mr-10"></i>
        <span>Courses</span>
      </a>
    </li>
    <li>
      <a
        href="friends.html"
        class="d-flex align-center fs-14 c-black red-6 p-10 mb-5"
      >
        <i class="fa-solid fa-chart-line fa-fw mr-10"></i>
        <span>Friends</span>
      </a>
    </li>
    <li>
      <a
        href="files.html"
        class="d-flex align-center fs-14 c-black red-6 p-10 mb-5"
      >
        <i class="fa-solid fa-chart-line fa-fw mr-10"></i>
        <span>Files</span>
      </a>
    </li>
    <li>
      <a href="plans.html" class="d-flex align-center fs-14 c-black red-6 p-10">
        <i class="fa-solid fa-chart-line fa-fw mr-10"></i>
        <span>Plans</span>
      </a>
    </li>
  </ul>
</aside>
